body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.header {
  background: #ffffff;
}
.link:hover,
.link:focus {
  color: orange;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
.last-part {
  color: #000000;
}
.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.02em;
}

.mail-header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.tel-header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.section-main {
  background: #2f303a;
}
.about-name {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.pointer {
  cursor: pointer;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
}
.section-middle {
  background: #f5f5f5;
}
.skill-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16p / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team-skills {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.picture-name {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.section-down {
  background-color: #f5f4fa;
}
.team {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background-color: #2f303a;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
